body{
    margin: 0;
}

.container { 
    height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#counter{
    font-size: 3rem;
}