#display li {
    display: flex;
}

#display li span:nth-child(-n+3) {
    color: rgb(174, 130, 0);
}

#display li span:nth-child(-n+2)::after {
    content: '.';
}

#display li div{
    padding-left: 1rem;
    
}

#display li div span:first-child{
    color: darkmagenta;
    font-size: 1.3rem;
}